/* Background Section */
.contact-section {
    min-height: 100vh;
    background: linear-gradient(180deg, #007b3b, #004d23);
    background-image: url("../IMAGES/7-pattern-bg.png");
    /* replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    color: #fff;
}

/* Main Container */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    /* max-width: 1300px; */
    background: #0b0b0b;
    padding: 100px 60px;
    /* padding-top: 50px; */
    box-shadow: 0 0 30px rgba(0, 255, 100, 0.2);
    margin-top: 30px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/* Left Section */
.contact-left {
    flex: 1;
    min-width: 300px;
    margin-right: 40px;
}

.connect-text {
    color: #1cc267;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.contact-heading {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 50px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.contact-info i {
    margin-right: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Right Section */
.contact-right {
    flex: 1;
    min-width: 350px;
}

.contact-right h3 {
    font-size: 1.6rem;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-row input {
    flex: 1;
}

input,
textarea {
    width: 100%;
    padding: 14px 18px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    outline: none;
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 255, 100, 0.3);
}

textarea {
    resize: none;
}

.send-btn {
    background: #1cc267;
    border: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease;
}

.send-btn:hover {
    background: #fff;
    color: #1cc267;
}

.bottom-text {
    margin-top: 30px;
    font-size: 1.1rem;
    color: #fff;
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        text-align: center;
        width: 100%;
        padding: 15px;
        margin-top: 5px;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
        padding-top: 105px;
    }

    .contact-heading {
        font-size: 26px;
    }

    .contact-left {
        margin: 0 0 40px 0;
    }

    .form-row {
        /* flex-direction: column; */
    }

    .send-btn {
        align-self: center;
    }
}